body{
    background-color: #333333;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color:white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}